.MovieWrapper{

}

.MoviePrinting{
    display : flex;

}
.MovieDescription{
    display : flex;
    flex-direction : column;

    border-radius : 20px 20px 20px 20px ;
    background: rgb(165, 164, 164);
    padding: 10px;
}
.Title{
    color : Black;
    font-size : 25px;

    padding-bottom : 10px;
}
.MovieImg{
    padding: 10px;
}
.Genres{
    color : yellow;
    list-style : none;
}

.Genre{
    float : left;
    margin-right : 5px;
}